<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleManager" version="1.0.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="PCLExt.Config" version="1.0.6" targetFramework="net45" />
  <package id="PCLExt.FileStorage" version="1.0.5" targetFramework="net45" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net45" />
</packages>